<h2 mat-dialog-title>{{data ? 'Modifier': 'Ajouter'}} une demande d'autorisation</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Projet de travaux</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Utilisateur</mat-label>
      <input matInput formControlName="user" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contrat</mat-label>
      <input matInput formControlName="contract" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button color="primary" mat-dialog-close>Annuler</button>
    <button mat-flat-button color="primary" mat-dialog-close type="submit" [disabled]="form.invalid">
      {{data ? 'Modifier' : 'Créer'}}
    </button>
  </mat-dialog-actions>
</form>