.dialog {
    &__title {
        color: #121926;
        font-family: 'Poppins', sans-serif;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__actions {
        justify-content: space-between;
        padding: 24px;
    }
}