<div class="container">
    <div class="icon">
        <img src="Ellipse_31.svg" alt="Ellipse" class="svg-bg">
        <img src="Trace_286.svg" alt="Trace" class="svg-fg">
    </div>
    <div class="data">
        <span class="title">Demande d'autorisation de travaux</span>
        <div class="project-name">Projet de travaux {{request.name}}</div>
        <div>
            <span class="user">{{request.user}}</span>
            <span *ngIf="request.contract" class="contract">Contrat {{request.contract}}</span>
        </div>
    </div>
    <div class="actions">
        <span class="status">Statut</span>
        <button mat-icon-button [matMenuTriggerFor]="menu1" class="trigger-btn">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item (click)="requestEdit.emit(request)" class="edit-btn">Modifier</button>
            <button mat-menu-item (click)="requestDelete.emit(request)" class="delete-btn">Supprimer</button>
        </mat-menu>
    </div>
</div>