<div class="request-card">
    <div class="request-card__icon">
        <img src="Ellipse_31.svg" alt="Ellipse" class="request-card__icon-bg">
        <img src="Trace_286.svg" alt="Trace" class="request-card__icon-fg">
    </div>
    <div class="request-card__data">
        <span class="request-card__title">Demande d'autorisation de travaux</span>
        <div class="request-card__project-name">Projet de travaux {{request.name}}</div>
        <div class="request-card__info">
            <span class="request-card__user">{{request.user}}</span>
            <span *ngIf="request.contract" class="request-card__contract">Contrat {{request.contract}}</span>
        </div>
    </div>
    <div class="request-card__actions">
        <span class="request-card__status">Statut</span>
        <button mat-icon-button [matMenuTriggerFor]="menu1" class="request-card__trigger-btn">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item (click)="requestEdit.emit(request)" class="request-card__edit-btn">Modifier</button>
            <button mat-menu-item (click)="requestDelete.emit()" class="request-card__delete-btn">Supprimer</button>
        </mat-menu>
    </div>
</div>