<div class="header">
  <div class="header-text">
    <h1 class="title">Liste des demandes</h1>
    <span class="subtitle">Gérer les demandes d'autorisation de travaux.</span>
  </div>
  <button mat-flat-button color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
    Ajouter
  </button>
</div>

<app-request-card *ngFor="let request of requestsService.getRequestList()" [request]="request"
  (requestDelete)="onRequestDelete($event)" (requestEdit)="onRequestEdit($event)"></app-request-card>