.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;

    &__title {
        font-family: 'Poppins', sans-serif;
        margin-bottom: 6px;
        font-size: 20px;
    }

    &__subtitle {
        color: #4B5565;
    }

    &__add-btn {
        font-family: 'Inter', sans-serif;
        min-width: 110px;
    }
}