<div class="header">
  <div class="header__text">
    <h1 class="header__title">Liste des demandes</h1>
    <span class="header__subtitle">Gérer les demandes d'autorisation de travaux.</span>
  </div>
  <button mat-flat-button color="primary" (click)="openDialog()" class="header__add-btn">
    <mat-icon>add</mat-icon>
    Ajouter
  </button>
</div>

<app-request-card *ngFor="let request of requests; let i=index" [request]="request" (requestDelete)="onRequestDelete(i)"
  (requestEdit)="onRequestEdit($event, i)"></app-request-card>