.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        font-family: 'Poppins', sans-serif;
        margin-bottom: 6px;
        font-size: 20px;
    }

    .subtitle {
        color: #4B5565;
    }

    .mdc-button {
        font-family: 'Inter', sans-serif;
    }
}

app-request-card {
    margin-top: 39px;
}