/* You can add global styles to this file, and also import other style files */
body {
    background-color: #F8FAFC;
    margin: 79px 209px 8px 215px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}